/*!
Theme Name: Annna
Theme URI: https://wordpress.org/themes/annna
Author: Claudia Farias
Author URI: krawdyah.com
Description: for a awesome Tech Blog Theme propose
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: tech, blog, magazine, technology, coding, development
Text Domain: annna

This theme, like WordPress, is licensed under the GPL.
*/


@import "theme/variables";
$fa-font-path: "fonts";
@import "assets/bootstrap";
@import "assets/font-awesome";
@import "../css/animate.css";
@import "../css/prism.css";
@import "theme/theme";

.widget { clear: both; }
.widget-title {
  display: none;
}