html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff;
  z-index:9999999;
  #status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url('status.gif');
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
  }
}

body {
  padding:0px;
  font-weight:400;
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  overflow:auto;
  font-feature-settings: "liga", "kern";
  letter-spacing: 0.2px;
}

a {
  color: $blue-color;
  text-decoration: none;
  cursor: pointer;
  &:hover { 
    color: $light-blue;
    text-decoration: none !important; 
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $secondary-font-family;
  font-weight: 600;
  line-height: 1.3;
}


article {
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #4a4a4a;
    text-rendering: optimizelegibility;
  }

  ul {
    list-style: initial;
    margin-left: 30px;
    font-size: 16px;
    line-height: 1.5;
  }
}

h5, h6 {
  font-weight:400;
}

pre {
  font-size: 16px;
  border-radius: 0;
  border-left: 6px solid #FFC107 !important;
}

blockquote {
  margin: 15px 0 20px;
  font-size: 20px;
  border-left: 6px solid #ddd;
  color: #666;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.row { position: relative; }

.subheading {
  text-transform: uppercase;
  color: $accent-color;
  border:1px solid $accent-color;
  padding: $font-size-base/2 $font-size-base;
}

.subheading-warning {
  text-transform: uppercase;
  color: $brand-warning;
  border:1px solid $brand-warning;
  padding: $font-size-base/2 $font-size-base;
}

.wrapper-accent .subheading {
  color:$accent-text;
  border:1px solid $accent-text;
}

.colored {
  color: $accent-color;
}

.text-center blockquote {
  border:none;
}

.font-sm {
  font-size:.875em;
}

.grid {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  display: inline-block;
  text-align: center;

  .grid-item { 
    width: 31.3%;
    margin: 0 1%;
  }

}
/* 3 columns by default */
// .grid-sizer { width: 31.3%; }

@media screen and (max-width: 768px) {
  /* larger screens */
  // .grid-item--width2 { width: 45%; }
  .grid .grid-item { width: 45%; }
}

@media screen and (max-width: 420px) {
  .wrapper-75vh { height: 35vh; }
  .grid .grid-item { width: 100%; }
}