$border-base-size: 1px;
.border-left.border-default {
  border-left:$border-base-size solid $darkest-color;
}

.border-right.border-default {
  border-right:$border-base-size solid $light-color;
}

.border-left.border-light {
  border-left:$border-base-size solid $lightest-color;
}

.border-right.border-light {
  border-right:$border-base-size solid $lightest-color;
}

.border-left.border-accent {
  border-left:$border-base-size solid $accent-color;
}

.border-right.border-accent {
  border-right:$border-base-size solid $accent-color;
}

.col-border-right {
  border-right:1px solid $lighter-color;
}