.carousel {
  .carousel-inner>.item>a>img, 
  .carousel-inner>.item>img { width: 100%; }
  .carousel-inner {
    .headline a, 
    .category a { color: #fff; }
  }

  .carousel-caption {
    top: 20%;
    left: 15%;
    right: 20%;
    text-align: left;
    text-shadow: none;
    .category {
      text-transform: uppercase;
      opacity: 0.6;
      margin: 0;
    }
    .headline { 
      margin-top: 5px;
      text-transform: uppercase;
      font-size: 3em;
      font-size: 4.0vw;
    }
    .lead { font-weight: 400; }
  }

  .carousel-control {
    &.left, &.right {
      span {
        position: absolute;
        top: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 420px) {
  .carousel .carousel-caption {
    .category { font-size: 2.0vh; }
    .headline { font-size: 6.0vw; }
  }
}