
#footer {
  color: #ccc;
  a {
    color: $light-blue; 
    &:hover { 
      color: $blue-color;
      text-decoration: none; 
    }
  }

  .wrapper-numbers {
    margin-top: 40px;
    border-top: 1px solid #444;
    h3 {
      text-align: center;
      color: $light-blue;
      font-size: 22px;
      small { 
        color: #ccc;
        font-size: 80%;
      }
    }
  }
}



#footer.wrapper-default .nav a {color:#777;}
#footer.wrapper-default .nav a:hover {color:#000;background:none;}
#footer.wrapper-transparent .nav a {color:#fff;}
#footer.wrapper-transparent .nav a:hover {color:#000;background:none;}
#footer .nav li a{padding:0px;margin:0px;}