.navbar, .navbar-default, .menu {
  border-radius:0px;
  border:none;
}

.menu {
  float: right!important;
  margin-right: -15px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-transparent {
  background:none;
}

a.navbar-brand {
  color: $navbar-default-brand-color;
  text-transform: uppercase;
  letter-spacing:.1em;
  font-weight: 700;
  font-size: 1.2em;
  padding-left: 30px;
}

.menu > li > a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
  position: relative;
  padding-top: 37px;
  padding-bottom: 37px;
  line-height: 22px;
}

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.menu > li > a:hover,
.navbar-nav > li > a:hover {
  background-color: $accent-color!important;
}

.navbar-nav > li:first-child > a{
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-nav > li.active > a {
  background-color:none;
  border-bottom: 2px solid $accent-color;
}