.clearfix { clear: both; }

.list {
  margin:0px;
  padding:0px;
  li {
    list-style:none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.overlay.overlay-dark {
  background-color: rgba(0,0,0,.33);
}

.overlay.overlay-darker {
  background-color: rgba(0,0,0,.5);
}

.overlay.overlay-light {
  background-color: rgba(255,255,255,.3);
}

a.overlay:hover {
  background-color: rgba(255,255,255,.5);
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:.5;
}

.v-align{
  position: relative;
  transform: translate3d(0px, -50%, 0px);
  top: 50%;
  z-index: 2;
}

.v-align-middle {
  vertical-align: middle;
  display: table-cell;
}

a.img-link:hover img {
  opacity:.5;
}

// Animations and Transitions
a, .btn, img {
    transition: all 0.5s ease-in-out 0s;
}

.mouse_scroll {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  z-index:99;
  color:#fff;
  position: absolute;
  bottom: 40px;
  margin: 0px auto;
  width: 100%;
  display: block;
  text-align: center;
}

.slow-effect {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-size:cover;
  width: 7200px;
  height:800px;
  animation: 100s linear 0s normal none infinite running cloudLoop;
  animation-duration: 160s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-name: cloudLoop;
}

@-webkit-keyframes cloudLoop{
  0%{
    -webkit-transform:translate3d(-20%,0,0);
    transform:translate3d(-20%,0,0)
  }

  100%{
    -webkit-transform:translate3d(50%,0,0);
    transform:translate3d(50%,0,0)
  }
}

@keyframes cloudLoop{
  0%{
    -webkit-transform:translate3d(-20%,0,0);
    transform:translate3d(-20%,0,0)
  }

  100%{
    -webkit-transform:translate3d(50%,0,0);
    transform:translate3d(50%,0,0)
  }
}

// Special Positions and helper classes
.bottom-left {
  position:absolute; 
  left:($grid-gutter-width/2);
  bottom:($grid-gutter-width/2);
}

.pull-top {
  margin-top: -($grid-gutter-width/2)
}