.wrapper {
  padding: $grid-gutter-width 0px;
}

.wrapper-xs {
  padding-top: ($grid-gutter-width/2);
  padding-bottom: ($grid-gutter-width/2);
}

.wrapper-sm {
  padding-top: ($grid-gutter-width/1.5);
  padding-bottom: ($grid-gutter-width/1.5);
}

.wrapper-md {
  padding: ($grid-gutter-width);
  // padding-bottom: ($grid-gutter-width);
}

.wrapper-lg {
  padding-top: ($grid-gutter-width*1.75);
  padding-bottom: ($grid-gutter-width*1.75);
  clear: both;
}

.wrapper-xl {
  padding-top: ($grid-gutter-width*3);
  padding-bottom: ($grid-gutter-width*3);
}

.wrapper-xxl {
  padding-top: ($grid-gutter-width*5);
  padding-bottom: ($grid-gutter-width*5);
}

.wrapper-xxxl {
  padding-top: ($grid-gutter-width*8);
  padding-bottom: ($grid-gutter-width*8);
}

.wrapper-50vh { height:50vh; }
.wrapper-75vh { height:75vh; }
.wrapper-85vh { height:85vh; }
.wrapper-100vh { height:100vh; }

.wrapper-no-padding {
  padding:0px;
}

.wrapper-no-padding-top {
  padding-top:0px;
}

.wrapper-no-padding-bottom {
  padding-bottom:0px;
}

// Wrapper background and text colors
.wrapper {
  background-color: $dark-color;
  position: relative;
}

#blog,
#page { 
  height: auto; min-height: 100%;
}

.wrapper-default {
  background-color: $default-color;
  color: $default-text;
  height: auto;
  min-height: 100%;
}

.wrapper-contrast {
  background-color: $contrast-color;
  color: $contrast-text;
}

.wrapper-accent {
  background-color: $accent-color;
  color: $accent-text;
}

.wrapper-light {
  background-color: $light-color;
  color: $light-text;
}

.wrapper-lighter {
  background-color: $lighter-color;
  color: $lighter-text;
  position: relative;
}

.wrapper-lightest {
  background-color: $lightest-color;
  color: $lightest-text;
}

.wrapper-dark {
  background-color: $dark-color;
  color: $dark-text;
}

.wrapper-darker {
  background-color: $darker-color;
  color: $darker-text;
}

.wrapper-darkest {
  background-color: $darkest-color;
  color: $darkest-text;
}

.wrapper-transparent {
  background: none;
  color: lighten($body-bg, 50%);
}

.wrapper-secondary {
  background-color: $light-blue;
  color: #fff;
}

// Other Wrapper modifier
.wrapper-fixed {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  display: block;
  z-index: 100;
}

.wrapper-pulled-left {
  margin-left:-20000px;
  padding-left:(20000-($grid-gutter-width/2));
  overflow: hidden;
}

.wrapper-pulled-right {
  margin-right:-20000px;
  padding-right:(20000-($grid-gutter-width/2));
  overflow: hidden;
}

.wrapper-overflow-hidden {
  overflow: hidden;
}

.wrapper-half-left::before {
  content:"";
  top:0;
  left:0;
  position:absolute;
  width:50%;
  height:100%;
  background-position:center center;
}

.wrapper-half-right::before {
  content:"";
  top:0;
  right:0;
  position:absolute;
  width:50%;
  height:100%;
  background-position:center center;
}

.wrapper-head {
  height: auto;

  .wrapper-title {
    background-color: $green-color;
    color: #fff;
    padding: 30px 40px;
    height: 100%;
  }
}

.dark-side { 
  background-color: #e3e6e8;
  min-height: 480px; 
  height: 100%;
}

.wrapper-side {
  color: #333;
  padding: 0;
  height: auto;
  min-height: 100%;

  .widget {
    ul {
      list-style: none;
      padding: 0;
      li {
        border-left: 6px solid #4F90B0;
        border-bottom: 1px solid #80B2D2;
        padding: 15px 10px 11px;

        .wrapper-category { 
          color: #fff;
          margin: 0;
        }

        h4 {
          color: #fff;
          margin: 0;
          font-size: 18px;
          line-height: 1.5;
        }
      }
    }
  }

  .sponsors {
    text-transform: uppercase;
    color: #666;
    border: 1px solid #999;
    padding: 4px 12px;
    font-size: 10px;
    float: right;
  }

  &.ad {
    a { color: #000; }
    padding: 0;
    .inner-ad {
      padding: 30px;
    }
  }

}

.wrapper-category {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 12px;
  a { color: #fff; }
}

.wrapper-author {
  border-left: 6px solid orange;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.wrapper-article,
.wrapper-video {
  padding: 0;
  margin: 20px auto;
  width: 100%;
  background-color: $dark-color;

  &.frontend { background-color: $accent-color; }
  &.mobile { background-color: $blue-color; }

  .img-responsive {
    height: 100%;
    width: 100%;
  }

  .article-caption,
  .video-caption {
    color: #fff;
    padding: 20px 30px;
    p { color: #fff; }
    h5 { 
      color: #fff;
      font-weight: 600;
    }
    a {
      color: #fff;
      text-decoration: none;
    }

    .wrapper-category { color: #ddd; }
  }
}

.wrapper-comments {
  border-top: 1px solid #eee;
  background-color: $lightest-color;
  min-height: 300px;
  padding: 40px;
}

.wrapper-newsletter {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: $light-blue;
  color: #fff;
  margin-top: 0;
  padding: 15px 0;

  form { 
    margin: 0;
    padding: 20px 0;
    position: relative;
    input, .newsletter-email {
      width: 350px;
      border: 2px solid #fff;
      box-shadow: none;
      border-radius: 2px;
      font-size: 16px;
      padding: 20px;
    }
    button.btn, .newsletter-submit {
      border: 2px solid #fff;
      background: transparent;
      color: #fff;
      padding: 9px 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  h3 { 
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
  }
}

.btn-warning { border: 2px solid #fff; }
.btn-inverse {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  // float: right;
  // padding: 5px 15px;
  &:hover { 
    border-color: $accent-color;
    color: $accent-color;
  }
}

.wrapper-previous { border-right: 1px solid #666; }
.wrapper-previous, .wrapper-next {
  padding: 0;
  a {
    padding: 80px 20px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 9;
    h4 { 
      width: 80%;
      line-height: 1.5;
      margin: 0 auto 10px;
    }
    p { color: rgba(255, 255, 255, 0.7) }
  }
}

.wrapper-search {
  margin-bottom: 0;
  padding: 30px;
  
  .form-inline {
    .input-group { 
      width: 100%; 
      .input-group-btn { width: 1%; }
    }
    input.form-control {
      border: 1px solid #ddd;
      border-radius: 0;
      box-shadow: none;
      padding: 20px;
      font-size: 16px;
      height: 42px;
    }
    button.btn {
      border-color: #ddd;
      padding: 9px 15px;
      height: 42px;
    }
  }
}

.wrapper-default hr {
  border-color: darken($default-color, 5%);
}

.wrapper-light hr {
  border-color: darken($light-color, 5%);
}

.wrapper-lighter hr {
  border-color: darken($lighter-color, 5%);
}

.wrapper-accent hr {
  border-color: lighten($accent-color, 5%);
}

.wrapper-contrast hr {
  border-color: lighten($contrast-color, 5%);
}

.wrapper-dark hr {
  border-color: lighten($dark-color, 5%);
}

.wrapper-darker hr {
  border-color: lighten($darker-color, 5%);
}

.wrapper-darkest hr {
  border-color: lighten($darkest-color, 5%);
}

.wrapper-gradient {
  background: transparent radial-gradient(circle farthest-side at right bottom , #ff9e4f 5%, #ec5d2f 25%, #dd5124 80%, #a32800 98%) repeat scroll 0% 0%;
  color: #fff;
}

.wrapper-gradient2 {
  background: transparent radial-gradient(circle farthest-side at right bottom , #ae98cf 5%, #5A4080 50%, #190a2e 95%) repeat scroll 0% 0%;      
}

.wrapper-gradient3 {
  background: transparent radial-gradient(circle farthest-side at right bottom , rgba(0,0,0,.03) 5%, rgba(0,0,0,.0) 50%, rgba(0,0,0,.1) 95%) repeat scroll 0% 0%;      
}

.wrapper-gradient4 {
  background: transparent radial-gradient(circle farthest-side at right bottom, #216297 5%, #3F98C9 35%, #175B95 80%, #2C5773 98%) repeat scroll 0% 0%;
}

.wrapper-gradient5 {
  background: -webkit-linear-gradient(330deg, #366e93, #1D879F);
  background: linear-gradient(120deg, #366e93, #1d879f);
  color: white;
}
.wrapper-gradient6 {
  background-color: #3B2F63;
  background-image: -webkit-radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0) 57%);
  background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(circle at right top, #794aa2 0%, rgba(121,74,162,0) 57%);
  background-repeat: no-repeat;
  color: #c7c0de;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrapper-75vh { height: 50vh; }
  .wrapper-side { height: auto !important; }
}
@media screen and (max-width: 420px) {
  .wrapper-side { height: auto !important; }
  .wrapper-75vh { height: 35vh; }
  .wrapper-newsletter form input, 
  .wrapper-newsletter form .newsletter-email { width: 80% !important; margin: 0 auto; }
}
